<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/skewed-header.css" />
    <link rel="stylesheet" href="styles/page-container.css" />
    <link rel="stylesheet" href="styles/square-grid.css" />
    <link rel="stylesheet" href="styles/helpers.css" />
    <link rel="stylesheet" href="styles/media-queries.css" />
  </head>
  <body>
    <div class="skewed-header">
      <div
        class="header-bg"
        style="background-image: url('images/background/about-us.jpg')"
      ></div>
      <div class="skewed-header-wrapper">
        <div class="skewed-header-content">
          <div class="heading-wrapper">
            <h1>About Us</h1>
          </div>
          <div class="links-wrapper">
            <!-- nav link -->
            <div class="nav-link">
              <a href="index.html">Home</a>
            </div>
            <!-- nav link -->
            <div class="nav-link">
              <a href="about.html">About</a>
            </div>
            <!-- nav link -->
            <div class="nav-link">
              <a href="menu.html">Menu</a>
            </div>
            <!-- nav link -->
            <div class="nav-link">
              <a href="contact.html">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-container">
      <div class="content-wrapper">
        <!-- img goes here  -->
        <img src="images/people/chef.jpg" alt="Featured Chef" id="chef" />

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
          doloremque hic sed blanditiis ipsa, deserunt suscipit dolorem a animi
          voluptas fugit aperiam voluptatum dolore quia sapiente, sequi quod
          asperiores eligendi impedit. Repellendus eligendi doloribus voluptatum
          dolores voluptate, eos nesciunt eveniet, libero maxime blanditiis,
          nobis ratione quae officia laboriosam. Doloremque modi dicta fugit,
          iusto facilis nulla nobis. At minima architecto dolorum vel. Dolore
          totam maiores corrupti atque, repudiandae eveniet doloribus qui saepe
          aliquid eaque sapiente nemo reiciendis voluptatibus minus, fugiat
          voluptate fugit, quibusdam mollitia ratione maxime optio facilis
          repellat fuga earum. Culpa minima voluptas omnis repellat quasi et?
          Quisquam mollitia nihil optio minus! Tenetur provident aperiam dolore
          iusto ut corrupti, optio impedit tempore? Nostrum obcaecati maxime
          dolore hic voluptate nulla, laborum debitis alias quam porro ratione
          quibusdam odit dicta. Expedita ea explicabo sit error amet optio ipsam
          tempore quibusdam dolores voluptas saepe ad, aliquid nostrum ullam,
          vitae illum nihil harum tenetur temporibus non assumenda perferendis
          molestias aut. Ipsa eos, aliquid tempora repudiandae cum,
          reprehenderit possimus repellat quaerat consequuntur totam minus dicta
          magni placeat exercitationem earum rem incidunt voluptatem ea, tenetur
          dignissimos! Earum repellendus dolore nisi quae reprehenderit, vero
          doloribus officiis accusamus sit sunt facere dolores, illo iste eius
          aliquid sequi velit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae
          quo suscipit eius optio similique laboriosam a sit ratione officiis.
          Consequuntur, expedita saepe et similique enim eveniet impedit, a fuga
          molestias voluptatibus maiores, deserunt atque totam nulla corporis
          omnis dignissimos minus? Saepe perspiciatis non tempore similique,
          nulla architecto omnis molestiae quidem? Sequi, consectetur! Laborum
          illum iste officia ipsum rem itaque facere, earum natus error
          blanditiis molestiae aspernatur voluptatum quidem doloribus aliquam
          numquam aperiam quis at? Molestiae expedita, voluptate alias possimus
          fuga magni porro vel repudiandae impedit modi corrupti nemo cum est
          sit, a exercitationem ullam aspernatur in quidem numquam, excepturi
          quaerat aperiam explicabo. Laudantium et cum, repudiandae asperiores
          dolores quis soluta eligendi natus tempora tenetur officiis suscipit!
          Ut, dicta molestias soluta repellat amet explicabo, aliquam deleniti
          vitae voluptates reiciendis aut perferendis quibusdam, nostrum modi
          atque deserunt necessitatibus? Dolore enim officiis impedit id qui
          reprehenderit molestias quas ipsa voluptate delectus unde ullam
          deleniti ipsum ad neque, provident asperiores, rerum eligendi aut
          voluptatum illo magni alias. Eligendi accusamus provident error
          corporis, quam cumque voluptate illum, aliquid ducimus, illo mollitia?
          Perferendis vero officiis, veniam modi odio vel optio laborum omnis
          cupiditate quo labore ducimus voluptas ratione facilis blanditiis,
          repudiandae nemo ut debitis inventore numquam! Cumque culpa similique
          nihil perspiciatis vitae nostrum itaque consectetur fuga, laudantium
          ut cupiditate ipsum minima aliquid, sint deleniti hic. Repudiandae
          excepturi, ipsa commodi vero labore quisquam voluptatibus, amet dolore
          obcaecati inventore animi vel dolores! Sequi iusto id assumenda quos
          architecto. Tenetur assumenda vero esse cum rerum neque incidunt,
          asperiores doloribus. Pariatur reprehenderit culpa repellat corrupti
          voluptates quam cupiditate numquam voluptatibus magnam velit vel
          accusantium alias eaque explicabo eligendi, omnis iure adipisci iste?
          Dolorem ad quos delectus. Assumenda alias illo veniam delectus quam
          eveniet repellat ratione adipisci doloremque quia, commodi vel
          voluptatum ea beatae ex rerum officiis reiciendis perspiciatis facere
          dicta praesentium omnis? Quas nesciunt repellendus, mollitia maxime
          minus sapiente, facere laboriosam, delectus incidunt recusandae animi!
          Ipsum officia distinctio accusantium illo alias nesciunt, repellendus
          quaerat eligendi, adipisci quas veritatis animi iste? Quibusdam
          similique, porro saepe illum reiciendis praesentium quia quod animi,
          ut mollitia asperiores, nemo aut labore officia molestiae eum.
        </p>
      </div>
    </div>
    <div class="spacer60"></div>

    <div class="squares-wrapper">
      <div class="squares">
        <div class="square">
          <div class="img-wrapper">
            <img src="images/squares/fries-sq-1.jpg" alt="Fries" />
          </div>
          <!-- img goes here -->
          <div class="square-text-wrapper">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              dolorum, dignissimos, quod iusto vitae ratione mollitia corrupti
              officiis itaque molestiae, doloremque voluptatum enim totam
              cupiditate. Optio impedit amet atque nisi. Provident doloribus
              pariatur necessitatibus, nihil cupiditate, nemo ad commodi maxime
              odio iusto velit illo ullam, vitae quod. Odio, molestias esse?
            </p>
          </div>
        </div>

        <div class="square">
          <div class="square-text-wrapper">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              dolorum, dignissimos, quod iusto vitae ratione mollitia corrupti
              officiis itaque molestiae, doloremque voluptatum enim totam
              cupiditate. Optio impedit amet atque nisi. Provident doloribus
              pariatur necessitatibus, nihil cupiditate, nemo ad commodi maxime
              odio iusto velit illo ullam, vitae quod. Odio, molestias esse?
            </p>
            <!-- img goes here -->
          </div>
          <div class="img-wrapper">
            <img src="images/squares/fries-sq-2.jpg" alt="Fries2" />
          </div>
        </div>
      </div>
    </div>

    <div class="footer-wrapper">
      <div class="logo-footer">
        <img src="images/logos/decamp-fantastic-fries-logo-white" alt="Logo" />
      </div>

      <div class="footer-phone-hours">
        <!-- if you put 2 spans on the same line as other text,
               it wont give the same type of line break. since we want 
              then next to each other, this is a good idea -->
        <span class="phone">555 555 5555</span>
        <span class="hours">10 AM - MIDNIGHT</span>
      </div>

      <div class="links-wrapper">
        <div class="nav-link">
          <a href="index.html">Home</a>
        </div>
        <div class="nav-link">
          <a href="about.html">About</a>
        </div>
        <div class="nav-link">
          <a href="menu.html">Menu</a>
        </div>
        <div class="nav-link">
          <a href=" contact.html">Contact</a>
        </div>
      </div>

      <div class="social-media-icons-wrapper">
        <div class="instagram">
          <a href="https://www.instagram.com">
            <i class="fab fa-instagram"></i>
          </a>
        </div>

        <div class="twitter">
          <a href="https://www.twitter.com">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <div class="facebook">
          <a href="https://www.facebook.com">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>

      <div class="copyright-wrapper">
        &copy; 2018 DevCamp &#124; All rights reserved
      </div>
    </div>
  </body>
</html>
